footer {
    height: 60px;
    background-color: darkred;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0;
}

footer span {
    font-size: 0.85em;
    color: lightgray;
}
