$normal-bg: #AAA67F;
$normal-border: darken(#AAA67F, 10%);
$fighting-bg: #C12239;
$fighting-border: darken(#C12239, 10%);
$flying-bg: #A891EC;
$flying-border: darken(#A891EC, 10%);
$poison-bg: #A43E9E;
$poison-border: darken(#A43E9E, 10%);
$ground-bg: #DEC16B;
$ground-border: darken(#DEC16B, 10%);
$rock-bg: #B69E31;
$rock-border: darken(#B69E31, 10%);
$bug-bg: #A7B723;
$bug-border: darken(#A7B723, 10%);
$ghost-bg: #70559B;
$ghost-border: darken(#70559B, 10%);
$steel-bg: #B7B9D0;
$steel-border: darken(#B7B9D0, 10%);
$fire-bg: #F57D31;
$fire-border: darken(#F57D31, 10%);
$water-bg: #6493EB;
$water-border: darken(#6493EB, 10%);
$grass-bg: #74CB48;
$grass-border: darken(#74CB48, 10%);
$electric-bg: #F9CF30;
$electric-border: darken(#F9CF30, 10%);
$psychic-bg: #FB5584;
$psychic-border: darken(#FB5584, 10%);
$ice-bg: #9AD6DF;
$ice-border: darken(#9AD6DF, 10%);
$dragon-bg: #7037FF;
$dragon-border: darken(#7037FF, 10%);
$dark-bg: #75574C;
$dark-border: darken(#75574C, 10%);
$fairy-bg: #E69EAC;
$fairy-border: darken(#E69EAC, 10%);
$shadow-bg: black;
$shadow-border: lighten(black, 10%);
$default-bg: gray;
$default-border: darken(gray, 10%);